:root {
  --dark: #343233;
  --primary: #efdab9;
  --secondary: #ffd152;
  --hov: #ebac00;
}

body {
  margin: 0;
  font-family: 'Open Sans', Verdana, sans-serif;
  letter-spacing: 0.5px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: #efdab9;
}

section {
  margin: 30px 0;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 70px;
}

.header__wrapper {
  text-align: center;
}

.list > * {
  margin: 0 0 5px;
}

.outer {
  font-size: 30px;
}

.header__tittle {
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
}

.footer_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.avatar {
  width: 250px;
  margin-top: 15px;
}

.link {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondary);
}

.link:hover {
  color: var(--hov);
}

.ico-github {
  width: 30px;
  margin-right: 15px;
}

.address {
  margin-bottom: 40px;
}
